<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCUMENT</title>
    <script src="https://cdn.socket.io/3.1.3/socket.io.js"></script>
    <link rel="stylesheet" href="document.css">
</head>
<body>
    <ul>
        <li><a class="active" href="https://socket-implementation.onrender.com">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li id="sharedpng"><img id="share_user" src="share_user.png" alt="share"></li>
    </ul>
<h1>ONLINE NOTE SHARING</h1>
<textarea id="w3review" name="w3review" rows="25" cols="50" style="border-radius:10px;">

</textarea>
<ul id="online_users_list">
    
</ul> 
<div class="share_doc_root">
    <div class="cross_sign_share_doc">
        <div class="cross_sign"></div>
    </div>
    <div class="share_doc_input_root">
        <input type="text" id="share_doc_input_text" class="share_doc_input" name="email" placeholder="Email">
        <button id="share_doc_add_button" class="share_doc_input">add</button>
    </div>
</div>
<script src="document.js"></script>
</body>
</html>